/*--------------------------------
treeView Extended Application UI
--------------------------------*/


/*
Fonts
*/
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/RobotoThin/RobotoThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
Main
*/
body{
  background: #eceafb;
  font-size: 25px;
  font-family: "RobotoLight", Tahoma, Arial, sans-serif;
}
.tVx_Main{
  margin: 60px auto;
  width: 900px;
  background: #ecf0f1;
  box-shadow: 0px 0px 108px 0px rgba(0,0,0,0.33);
}

/*
Header
*/
.tVx_Main .tVx_Header{
  width: 100%;
  height: 60px;
  text-align: center;
  color: #ecf0f1;
  background: #2980b9;
}
.tVx_Main .tVx_Header *::selection{
  background: transparent;
  font-size: 25px;
}
.tVx_Main .tVx_Header .text{
  line-height: 60px;
}
.tVx_Main .tVx_Header .text span.light{
  font-weight: normal;
  font-family: "RobotoThin";
}
.tVx_Main .tVx_Header .text span.bold{
  font-family: "RobotoLight";
}

/*
Container
*/
.tVx_Main .tVx_Container{
  height: 540px;
  overflow: hidden;
  clear: both;
  position: relative;
}
.tVx_Main .tVx_Container .tVx_View{
  position: absolute;
  left: 0;
  width: 10000%;
}
.tVx_Main .tVx_Container .tVx_Block{
  width: 300px;
  float: left;
  overflow: scroll;
  height: 540px;
}
.tVx_Main .tVx_Container .tVx_Block ul{
  padding: 5px 0;
  margin: 0;
  box-shadow: 0px 0px 108px 0px rgba(0,0,0,0.13);
  animation-duration: 0.6s;
}
.tVx_Main .tVx_Container .tVx_Block ul li{
  padding: 5px 10px 7px 10px;
  list-style: none;
  color: #2c3e50;
  background: #ecf0f1;
  transition: background .2s, color .1s;
  font-family: "RobotoThin"
}
.tVx_Main .tVx_Container .tVx_Block ul li:hover{
  background: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}
.tVx_Main .tVx_Container .tVx_Block ul li::selection{
  background: transparent;
}
.tVx_Main .tVx_Container .tVx_Block ul li.selected{
  background: #34495e;
  color: #ecf0f1;
  cursor: not-allowed;
}
.tVx_Main .tVx_Container .tVx_Block::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(odd)::-webkit-scrollbar-track {
  background-color: #95a5a6;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(odd)::-webkit-scrollbar-thumb {
  background-color: #bdc3c7;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(odd)::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(odd)::-webkit-scrollbar-corner{
  background-color: #94a4a5;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(even)::-webkit-scrollbar-track {
  background-color: #bdc3c7;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(even)::-webkit-scrollbar-thumb {
  background-color: #94a4a5;
}
.tVx_Main .tVx_Container .tVx_Block:nth-child(even)::-webkit-scrollbar-thumb:hover {
  background-color: #fff;

}
.tVx_Main .tVx_Container .tVx_Block:nth-child(even)::-webkit-scrollbar-corner{
  background-color: #bdc3c7;
}

/*
Footer
*/
.tVx_Main .tVx_Footer{
  height: 60px;
  background: #2c3e50;
  padding: 10px;
  clear: both;
}
.tVx_Main .tVx_Footer *::selection{
  background: transparent;
}
.tVx_Main .tVx_Footer .arrows{
  width: 60px;
  float: left;
  text-align: center;
}
.tVx_Main .tVx_Footer .arrows button{
  width: 53px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: all .2s;
}
.tVx_Main .tVx_Footer .arrows .disabled{
  opacity: 0.2;
  cursor: not-allowed;
}
.tVx_Main .tVx_Footer .arrows button#left{
  background: url(../images/left.png) center no-repeat;
}
.tVx_Main .tVx_Footer .arrows button#right{
  background: url(../images/right.png) center no-repeat;
}
.tVx_Main .tVx_Footer .pagination{
  color: #ecf0f1;
  position: relative;
  font-size: 30px;
  display: block;
  font-family: "RobotoThin";
  font-style: italic;
  width: 725px;
  margin: 0 20px 0 15px;
  float: left;
  cursor: default;
  overflow: hidden;
}
.tVx_Main .tVx_Footer .pagination>ul{
  padding: 0;
  margin: 0;
  width: 10000%;
}
.tVx_Main .tVx_Footer .pagination>ul li{
  list-style-type:none;
  margin: 0;
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  animation-duration: 0.5s;
}
.tVx_Main .tVx_Footer .pagination .scrollbar{
  position: absolute;
  top: 0px;
  left: 3px;
  width: 60px;
  height: 60px;
  background: #ecf0f1;
  display:inline-block;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}
.tVx_Main .tVx_Footer .pagination .scrollbar>ul{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: -3px;
  color:#2c3e50;
  list-style-type:none;
  display: block;
  width: 10000%;
  overflow: hidden;
}
.tVx_Main .tVx_Footer .pagination .scrollbar>ul li{
  list-style-type:none;
  margin: 0;
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  animation-duration: 0.5s;
}