@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "./gruvbox.css";

@import "@fontsource/jetbrains-mono/200.css";
@import "@fontsource/jetbrains-mono/200-italic.css";
@import "@fontsource/jetbrains-mono/300.css";
@import "@fontsource/jetbrains-mono/300-italic.css";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/400-italic.css";
@import "@fontsource/jetbrains-mono/600.css";
@import "@fontsource/jetbrains-mono/600-italic.css";
@import "@fontsource/jetbrains-mono/700.css";
@import "@fontsource/jetbrains-mono/700-italic.css";

html {
  font-family:
    "JetBrains Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
