@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'JetBrains Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --bg_h: #f9f5d7;
    --bg: #fbf1c7;
    --bg_s: #f2e5bc;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;

    --fg: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --gray: #928374;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;

    @apply bg-gruvbox-bg text-gruvbox-fg2;
}

html.dark {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
}

.prose {
    --tw-prose-body: var(--fg1);
    --tw-prose-headings: var(--fg);
    --tw-prose-lead: var(--fg1);
    --tw-prose-links: var(--green);
    --tw-prose-bold: var(--fg1);
    --tw-prose-counters: var(--fg1);
    --tw-prose-bullets: var(--fg1);
    --tw-prose-hr: var(--orange);
    --tw-prose-quotes: var(--fg1);
    --tw-prose-quote-borders: var(--fg1);
    --tw-prose-captions: var(--fg1);
    --tw-prose-code: var(--fg1);
    --tw-prose-pre-code: var(--fg1);
    --tw-prose-pre-bg: var(--bg2);
    --tw-prose-th-borders: var(--fg1);
    --tw-prose-td-borders: var(--fg1);
    --tw-prose-invert-body: var(--fg1);
    --tw-prose-invert-headings: var(--fg1);
    --tw-prose-invert-lead: var(--fg1);
    --tw-prose-invert-links: var(--fg1);
    --tw-prose-invert-bold: var(--fg1);
    --tw-prose-invert-counters: var(--fg1);
    --tw-prose-invert-bullets: var(--fg1);
    --tw-prose-invert-hr: var(--fg1);
    --tw-prose-invert-quotes: var(--fg1);
    --tw-prose-invert-quote-borders: var(--fg1);
    --tw-prose-invert-captions: var(--fg1);
    --tw-prose-invert-code: var(--fg1);
    --tw-prose-invert-pre-code: var(--fg1);
    --tw-prose-invert-pre-bg: var(--bg2);
    --tw-prose-invert-th-borders: var(--fg1);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
